<a href="https://colab.research.google.com/github/PasAlex8019/Python-for-Data-Science/blob/main/Python_3_numbers_and_nouns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Числа и арифметические операции с ними

In [3]:
print(3 + 4) # сложение
print(3 - 4) # вычитание
print(3 / 4) # деление
print(3 * 4) # умножение
print(3 ** 4) # возведение в степень

7
-1
0.75
12
81

In [7]:
a = 5
b = 7
c = a + b
c
print(a + b)

12

Для вывода текста и числа в одну строку используется запятая " , "

In [8]:
print('Сумма a и b = ', c)

Сумма a и b =  12

##**Практика**



###**Что нужно сделать**



**Задача 1. Выражения**

Третьекласснику Вове задали домашнее задание по математике, и папа-программист сказал, что вечером обязательно проверит его. Но Вове лень считать, поэтому он пишет программы на Python.

Посчитайте и последовательно выведите на экран  значения математических выражений, по одному в каждой строчке, чтобы Вове не досталось от папы:

* 6 умножить на 39;
* 3 в степени 5;
* Минус 8 разделить на минус 4;
* 10 разделить на 2 и прибавить 6.

In [10]:
print(6 * 9)
print(3 ** 5)
print(-8 / -4)
print(10 /2 + 6)

54
243
2.0
11.0

**Задача 2. Эти замечательные астрологи**

Венера, преподаватель Максима по астрологии и нумерологии, не верит, что математические операции работают так, как описывает математика. Напишите для Максима программу, которая демонстрировала бы работу основных операций, чтобы убедить Венеру.



1. Создайте три переменных, каждой из них присвойте любые числа, например 5, 4, 2 (кстати, не забывайте про множественное присваивание).
2. Затем выведите результат сложения, вычитания, умножения, деления и возведения в степень всех трёх переменных в отдельных строчках. Результат с 5, 4 и 2 должен выглядеть так:

![Без_названия_Dkyi868.png]()

In [11]:
a, b, c = 5, 4, 2
print('Сложение : ', a + b + c)
print('Вычитание: ', a - b - c)
print('Умножение: ', a * b * c)
print("Деление: ", a / b / c)
print("Возведение в степень: ", a ** b ** c)

Сложение :  11
Вычитание:  -1
Умножение:  40
Деление:  0.625
Возведение в степень:  152587890625

**Задача 3. Деление на ноль**

Проверим школьное правило «На ноль делить нельзя». Напишите программу, которая выводит результат деления числа (например 65) на ноль. Какой будет ответ?



Тизер к заданию



Правильный ответ: деление на ноль в питоне порождает ошибку ZeroDivisionError, это означает, что на ноль делить нельзя. Однако в будущем мы узнаем, что делить на ноль всё-таки можно — и даже получать бесконечность, но это уже совсем другая история :)

In [12]:
65 / 0

ZeroDivisionError: ignored